<div fxFill>
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-md="column"
        fxLayoutAlign.lt-md="center center" style="padding: 10px;">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" fxHide.lt-md>
            <img src="../../assets/To do list.gif" alt="image" width="70%" height="70%">
        </div>
        <div fxLayout="column" fxFlex="30" fxFlex.lt-md="50">
            <mat-card class="login-card" fxLayout="column">
                <mat-toolbar color="accent">Login</mat-toolbar>
                <form fxLayout="column" fxLayoutGap="10px" style="padding: 20px;" [formGroup]="loginForm"
                    (ngSubmit)="OnSignIn()">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" required formControlName="email">
                        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is
                            required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" required formControlName="password">
                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is
                            required</mat-error>
                        <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
                            Atleast one number and charecter required..!
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="center start">
                        <button mat-raised-button color="accent">Login</button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-around">
                        <a mat-button routerLink="/register">Sing up here</a>
                        <a mat-button href="https://www.google.com/" target="_blank">Forgot password</a>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>