<div fxFill>
    <app-common-header [title]="DashBoard"></app-common-header>
    <mat-divider></mat-divider>
    <br>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <mat-card class="completed-task-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title>Completed Tasks</mat-card-title>
                    <mat-card-subtitle>
                        <h3 style="text-align: center;">100</h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img src="../../assets/tick.png" class="img">
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="completed-task-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title>Today Tasks</mat-card-title>
                    <mat-card-subtitle>
                        <h3 style="text-align: center;">100</h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img src="../../assets/today.png" class="img">
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="completed-task-card" fxLayout="column" fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title>Special Tasks</mat-card-title>
                    <mat-card-subtitle>
                        <h3 style="text-align: center;">100</h3>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img src="https://cdn-icons-png.flaticon.com/512/4899/4899512.png" class="img">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

    <br>
    <div class="dashboard">
        <h2>Advantages of Our To-Do App</h2>
        <ul>
            <li>User-Friendly Interface: The app provides a simple and intuitive user interface, making it easy for users to
                manage their tasks efficiently.</li>
            <li>Task Organization: Users can organize their tasks into different categories or lists, helping them
                prioritize and manage their time effectively.</li>
            <li>Completion Tracking: The app allows users to mark tasks as completed, providing a sense of accomplishment
                and progress tracking.</li>
            <li>Reminder and Notification: Users can set reminders for important tasks, ensuring they don't forget important
                deadlines or events.</li>
            <li>Accessibility: The app can be accessed from anywhere with an internet connection, allowing users to manage
                their tasks on the go.</li>
            <li>Collaboration: Users can share task lists with others, enabling collaboration on shared projects or tasks.
            </li>
            <li>Feedback and Improvement: The app allows users to provide feedback, helping developers improve the app's
                features and functionality over time.</li>
        </ul>
    </div>
    <br>

    </div>
