.red {
    background-color: rgb(156, 149, 149);
    border: 1px solid black;
    border-radius: 5px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.graph-container {
    height: 200px;
}

.time-card {
    height: 100px;
    margin-top: 10px;
}



.card-details {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.card-img {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img {
    width: 80px;
    height: 80px;
}

small {
    font-size: 10px;
}

.img {
    width: 35%;
    height: 100%;
    background-size: contain;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail p {
    font-size: medium;
    font-weight: bold;
}

table {
    width: 100%;
}

.today-to-do {
    font-family: var(--heading);
    font-size: 30px;
}