<div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center start">
        <app-clock></app-clock>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100" fxLayout.lt-md="column"
        fxLayoutAlign.lt-md="space-around stretch">
        <div class="graph-container" fxFlex="45" fxFlex.lt-md="100">
            <app-chart></app-chart>
        </div>
        <div class=" graph-container " fxFlex="45" fxHide.lt-md fxLayout="row">
            <div fxFlex="45" fxLayout="column" fxLayoutAlign="center center" class="today-to-do">
                <p>To Do Today</p><br>
                <p>2</p>
            </div>
            <div fxFlex="65">
                <img src="../../assets/in-progress-animate.svg" alt="" width="100%" height="90%">
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFlex="100" fxLayout.lt-md="column"
        fxLayoutAlign.lt-md="space-around stretch">
        <div fxLayout="row" fxLayoutAlign="space-between center " fxFlex="45%">
            <mat-card class="time-card mat-elevation-z4" fxFlex="48%" fxLayoutGap="10px" *ngFor="let i of tasks1"
                fxLayout="row">
                <div class="img center">
                    <img src={{i.img}} style="width:80%;height:80%;">
                </div>
                <div class="detail">
                    <p>{{i.name}}</p>
                    <p>{{i.count}}</p>
                </div>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="45%">
            <mat-card class="time-card mat-elevation-z4" fxFlex="100%">
                <div *ngFor="let i of tasks2" fxFlex="100" fxLayout="row">
                    <div class="img center">
                        <img src={{i.img}} style="width:80%;height:80%;">
                    </div>
                    <div class="detail">
                        <p>{{i.name}}</p>
                        <p>{{i.count}}</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <br>
    <!-- <div fxLayout="column" fxLayoutGap="5px">

        <mat-card *ngFor="let task of tasks" fxFlex="100">
            <div class="stared-task">
                <h1>{{task.name}}</h1>
                <small>{{task.description}} </small>
            </div>
        </mat-card>
    </div> -->


</div>