<div fxFill fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxLayout="row" fxLayoutAlign="center start">
        <p>date time</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
        <div class="graph-container red" fxFlex="45">

        </div>
        <div class=" graph-container red" fxFlex="45">

        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFlex="100" fxLayout.lt-md="column"
        fxLayoutAlign.lt-md="space-around stretch">
        <div fxLayout="row" fxLayoutAlign="space-between center " fxFlex="45%">
            <mat-card class="time-card" fxFlex="48%" fxLayoutGap="10px">

            </mat-card>
            <mat-card class="time-card" fxFlex="48%">

            </mat-card>
        </div>
        <mat-card class="time-card" fxFlex="45%" fxLayout="row">

        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100" class="red">
        <h1>Today important tasks</h1>
    </div>
</div>