<app-common-header title="Contact us"></app-common-header>
<div fxLayout="row" fxLayoutAlign="space-evenly start">
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center" fxHide.lt-md>
        <img src="../../assets/Contact us.gif" alt="contact-us" width="70%" height="70%">
    </div>
    <mat-card class="mat-elevation-z4" fxFlex="50" fxFlex.lt-md="90">
        <form fxLayout="column" fxLayoutAlign="center stretch" fxLayout.lt-md="center stretch" style="padding: 15px;"
            [formGroup]="contactFrom">
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Enter your name" required formControlName="name">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter your email" required formControlName="email">
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea matInput rows="4" placeholder="Enter your comments" required maxlength="150"
                    formControlName="description"></textarea>
            </mat-form-field>
            <div class="button-container">
                <button mat-raised-button color="warn">Clear</button>
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </mat-card>

</div>