<mat-toolbar class="mat-elevation-z8" color="accent">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <span style="font-weight: bold;">To-Do Application</span>
</mat-toolbar>

<mat-sidenav-container >
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" >

        <mat-divider></mat-divider>

        <a mat-button class="menu-button"  routerLink="/dashboard">
            <mat-icon>home</mat-icon>
            <span>Dashboard</span>
        </a>
        <a mat-button class="menu-button" >
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </a>
        <a mat-button class="menu-button" >
            <mat-icon>info</mat-icon>
            <span>Tasks</span>
        </a>

        <mat-divider></mat-divider>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>