<app-common-header title="Add Task" style="height: 5%;"></app-common-header>
<div fxLayout="row" fxLayoutAlign="space-around center" style="height: 100%;">
    <!-- <div fxFlex="50%" style="display: flex;align-items: center;justify-content: center;" fxHide.lt-md>
        <img src="../../assets/Add tasks.gif" alt="img">
    </div> -->
    <div class="add-task-container" fxFlex="50%" fxFlex.lt-md="85%">
        <form [formGroup]="taskform" fxLayout="column" fxLayoutGap="5px" (submit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Task Title</mat-label>
                <input matInput placeholder="Enter task title" required formControlName="taskName">
                <mat-error *ngIf="taskform.get('taskName')?.hasError('required')">Task name is required</mat-error>
                <mat-error *ngIf="taskform.get('taskName')?.hasError('maxlength')">Name should not exceed 15
                    charecters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Task Description</mat-label>
                <textarea matInput placeholder="Enter task description" required
                    formControlName="description"></textarea>
                <mat-error *ngIf="taskform.get('description')?.hasError('required')">Description is required</mat-error>
                <mat-error *ngIf="taskform.get('description')?.hasError('maxlength')">Description should not exceed 150
                    charecters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Choose a due date" required
                    formControlName="dueDate" [matDatepickerFilter]="dateFilter">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="taskform.get('dueDate')?.hasError('required')">Due date is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="importance">
                    <mat-option *ngFor="let p of priority" [value]="p">{{ p }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="taskform.get('importance')?.hasError('required')">Task priority is
                    required</mat-error>
            </mat-form-field>
            <div class="form-actions" fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-raised-button color="warn" (click)="clearForm(this.taskform)">Clear</button>
                <button mat-raised-button color="primary" type="submit">Add Task</button>
            </div>
        </form>
    </div>
</div>