.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: var(--box);
    margin-bottom: 1em;
}

.social {
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: var(--box);
}

.social button:hover {
    transform: scale(1.05, 1.05);
    transition: .5s;
}