/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+25&display=swap');

:root {
    --primary-color: #ffd740;
    --clock: "Jersey 25", sans-serif;
    --heading: "Anton", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



::-webkit-scrollbar {
    width: 5px;
    border: 25%;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    box-shadow: 0px 0px 10px var(--primary-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}