<div>
    <h1>{{title.toUpperCase()}}</h1>
    <!-- <div fxLayout="row" fxLayoutAlign="none center">
        <input type=" text" placeholder="search" class="search" *ngIf="search" />
        <div class="filter" *ngIf="filter">
            <button mat-icon-button [matMenuTriggerFor]="menu"><i class="bi bi-filter"
                    style="color: var(--primary-font-color); font-size: 25px;"></i></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>1st Week</button>
                <button mat-menu-item>2nd Week</button>
            </mat-menu>
        </div>
    </div> -->
</div>